<div class="container">

    <div class="search-container">
        <div>
            <mat-form-field class="input"><input name="cpf" matInput placeholder="CPF" [(ngModel)]="employee.cpf" required></mat-form-field>
            <button class="search-btn" mat-raised-button (click)="onSearch()">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>

    <div *ngIf="employee.show" class="employee-data">
        <h3 class="data-title"><strong>Dados do Funcionário:</strong></h3>
        <table>
            <tr>
                <td>CPF:</td>
                <td>{{ employee.cpf }}</td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <td>Endereço:</td>
                <td>{{ employee.location }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <td>Login:</td>
                <td>{{ employee.login }}</td>
            </tr>
        </table>

        <h3 class="data-title"><strong>Empresas:</strong></h3>
        <table *ngFor="let company of employee.companies">
            <tr>
                <td>CNPJ:</td>
                <td>{{ company.cnpj }}</td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <td>Endereço:</td>
                <td>{{ company.location }}</td>
            </tr>
        </table>
        
        <div class="buttons-container">
            <button mat-raised-button (click)="onAddCompany()">
                Nova Empresa <i class="material-icons">work</i>
            </button>
            <button mat-raised-button (click)="onRemoveCompany()">
                Remover Empresa <i class="material-icons">work_off</i>
            </button>
            <button mat-raised-button color="warn" (click)="onDelete()">
                Deletar Funcionário <i class="material-icons">delete_forever</i>
            </button>
        </div>
    </div>

</div>
