.header {
    height: 75px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.icon {
    width: 215px;
    padding: 5px;
    display: flex;
    
    background-color: rgba(17, 91, 188, 0.925);
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray;
}

.icon-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon .doc-icon {
    font-size: 50px;
    color: lightgray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.737);
}

.icon .main-text, .subtitle-text {
    margin: auto;
    color: lightgray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.737);
}

.main-text {
    font-size: x-large;
}

.subtitle-text {
    font-size: small;
    margin-top: -10px;
}
