<mat-card class="container">
    <h1 class="title">Adicionar Empresa</h1>
    
    <div class="search-container">
        <div>
            <mat-form-field class="input"><input name="cnpj" matInput placeholder="CNPJ" [(ngModel)]="company.cnpj" required></mat-form-field>
            <button class="search-btn" mat-raised-button (click)="onAddCompany()">
                <i class="material-icons">work</i>
            </button>
        </div>
    </div>


    <button class="btn-cancel" mat-raised-button (click)="onCancel()" color="primary">Cancelar</button>
</mat-card>
