<mat-card class="container">
    <mat-card-title class="title">Cadastrar Funcionário</mat-card-title>
    <form class="create-form">
        <!-- Atualização dos dados do funcionário usando Two Way Data Binding -->
        <mat-form-field><input name="cpf" matInput placeholder="CPF" [(ngModel)]="employee.cpf" required></mat-form-field>
        <mat-form-field><input name="name" matInput placeholder="Nome Completo" [(ngModel)]="employee.name" required></mat-form-field>
        <mat-form-field><input name="location" matInput placeholder="Endereço" [(ngModel)]="employee.location" required></mat-form-field>
        <mat-form-field><input name="email" matInput placeholder="Email" [(ngModel)]="employee.email" required></mat-form-field>
        <mat-form-field><input name="login" matInput placeholder="Login" [(ngModel)]="employee.login" required></mat-form-field>
        <mat-form-field><input name="password" type="password" matInput placeholder="Senha" [(ngModel)]="employee.password" required></mat-form-field>
    </form>

    <button mat-raised-button (click)="onSave()">Salvar</button>
    <button class="btn-cancel" mat-raised-button (click)="onCancel()" color="primary">Cancelar</button>
</mat-card>
