<mat-card class="home">
    <mat-card-title class="title">
        <h1>Gerenciador</h1>
    </mat-card-title>
    <p>
        Essa ferramenta oferece recursos de gerenciamento de empresas, permitindo que você armazene
        informações importantes, como CNPJ, nome e endereço. Você também pode criar uma lista de
        funcionários, com informações como CPF, nome, endereço e email.
    </p>
    <p>
        A ferramenta também permite gerenciar a relação entre empresas e funcionários, associando-os quando
        há ligação empregatícia.
    </p>
    
</mat-card>
