.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    
    display: flex;
    justify-content: flex-end;
}

.text-area div {
    font-size: x-small;
}

.author {
    margin-top: -15px;
}
